<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Insertar Producto</title>
</head>
<h1>LIST OF PRODUCTS</h1>
<body>
<br/>
<div th:replace="fragments/header :: header"/>
<br/>
<br/>


<table cellpadding="10">
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.image}"></td>
            <td><a th:href="@{'/product/delete/' + ${product.id}}" >Delete</a></td>
            <td><a th:href="@{'/product/edit/' + ${product.id}}" >Edit</a></td>

        </tr>
        <!--<tr>
            <td colspan="2" th:text="${user.address}">...</td>
        </tr>-->
    </th:block>
</table>

</body>
</html>